.sec-1111 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    gap: 20px;
}

.d999 {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.d999-1 {
    display: flex;
    align-items: center;
    padding: 20px;
}

#i28{
    margin-right: 10px;
}

/* card-header img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
} */

.d999-1 div {
    display: flex;
    flex-direction: column;
}

.d999-1 h4 {
    margin: 0;
    font-size: 1.25em;
    color: #0b57cf;
}

.d999-1 h6 {
    margin: 5px 0 0;
    font-size: 1em;
    color: #666;
}

.d999-2 {
    padding: 20px;
    display: flex
    ;
}

.d999-2 p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.5;
    color: #333;
}